body {
   background-color: #666666;
   color: #000066;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   margin: 0px
}

td {
   background-color: #3999CC;
   color: #000066;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   padding: 6px
}


   